name: GitHub Actions lint
# GitHub Actionsのワークフロー定義ファイルの文法チェックを行う

on:
  workflow_call:
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - ".github/workflows/**.yml"

# パイプ処理中のエラーをキャッチするために明示的にシェル指定
defaults:
  run:
    shell: bash

jobs:
  actions-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v5
      - run: |
          docker run --rm -v "$(pwd):$(pwd)" -w "$(pwd)" rhysd/actionlint:latest